body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
button {
  cursor: pointer;
}

/* ====Клас який приховує ========*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ====common==== */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* ==============HEADER=============== */
.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: none;
}
.contacts {
  display: none;
}
.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.page-nav {
  display: block;
  padding: 16px 0px;
  width: 115px;
}

.page-span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-burger {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .page-nav {
    padding: 24px 16px;
    display: flex;
  }
  .page-logo {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-link-iteam.current::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  .menu-link-iteam.current {
    color: #404bbf;
  }
  .menu-iteam {
    position: relative;
    color: #404bbf;
  }

  .menu-iteam:hover {
    color: #404bbf;
  }
  .menu-link-iteam {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link-iteam {
    position: relative;
  }

  .menu-link-iteam:hover {
    color: #404bbf;
  }
  .menu-link-iteam:focus {
    color: #404bbf;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contacts-list-address {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-item:hover {
    color: #404bbf;
  }
  .contacts-link {
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:hover {
    color: #404bbf;
  }
  .contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .page-logo {
    margin-right: 76px;
  }
  .contacts-list-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0px;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.02em;
  }
}

/* ==============/HEADER=============== */

/* ================PAGE HERO========== */

.page-section-one {
  background-color: #2e2f42;
  height: 432px;
  padding: 72px 52px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-images/dark-telefon@1x.jpg);
  max-width: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
  margin-right: auto;
}

.title-section-one {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;

  margin-bottom: 72px;
  max-width: 216px;
}
.button-section-one {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  outline: none;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-section-one:hover,
.button-section-one:focus {
  background-color: #404bbf;
  cursor: pointer;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .page-section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-images/dark-telefon@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .page-section-one {
    background-color: #2e2f42;
    height: 496px;
    max-width: 768px;
    padding: 136px 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-images/dark-table@1x.jpg);
  }

  .title-section-one {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .page-section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-images/dark-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .page-section-one {
    height: 600px;
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-images/dark-laptop@1x.jpg);
  }
  .title-section-one {
    margin-bottom: 48px;
  }
}

/* ================= / PAGE HERO=========== */

/* ===========SECTION 2 ======== */
.page-section-two {
  padding-top: 96px;
}
.list-section-two {
  display: flex;
  flex-direction: column;
}
.item-section-two {
  width: 288px;
  height: 120px;
  margin-bottom: 72px;
}
.title-section-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.paragraph-section-two {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.icon-section-two {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-section-two {
    padding-bottom: 96px;
  }

  .list-section-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    width: 736px;
    height: 312px;
  }
  .item-section-two {
    width: calc ((100% - 24px) /2);
    width: 356px;
  }
}
@media screen and (min-width: 1158px) {
  .page-section-two {
    padding: 120px 0;
  }
  .list-section-two {
    display: flex;
    gap: 24px;
    width: 1128px;
    height: 224px;
  }
  .item-section-two {
    width: calc((100% - 3 * 24px) / 4);
  }
  .box-icon-section-two {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .icon-section-two {
    display: flex;
  }

  .title-section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .paragraph-section-two {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

/* ===========SECTION / 2 ========== */

/* ============SECTION 3 ========== */

.page-section-three {
  background-color: #f4f4fd;
  max-width: 320px;
  height: 2232px;
  margin-right: auto;
  margin-left: auto;
}
.title-section-three {
  padding-top: 96px;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
}
.list-section-three {
  display: block;
  gap: 24px;
  margin-bottom: 72px;
  padding: 12px;
}
.item-section-three {
  width: 264px;
  height: 428px;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
  margin-bottom: 72px;
  border-radius: 0px 0px 4px 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-section-three:nth-child(4) {
  margin-bottom: 0;
}
.description-our-team {
  padding: 32px 0px;
}
.title-imeges-our-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.paragraph-imeges-our-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.list-icon-section-three {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
}
.item-icon-list-section-three {
  width: 40px;
  height: 40px;
}
.link-icon-section-three {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon-section-three:hover {
  background-color: #404bbf;
}
.link-icon-section-three:focus {
  background-color: #404bbf;
}
.section-three-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .page-section-three {
    max-width: 768px;
    height: 1224px;
  }
  .list-section-three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 62px;
  }
  .list-section-three:nth-child(3) {
    margin-bottom: 96px;
  }
  .item-section-three {
    width: calc((100% - 24px) / 2);
    width: 264px;
    height: 428px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .page-section-three {
    max-width: 1440px;
    height: 780px;
  }
  .title-section-three {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
  }

  .list-section-three {
    display: flex;
    gap: 24px;
  }
  .item-section-three {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .description-our-team {
    padding: 32px 0px;
  }
  .title-imeges-our-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
  }
  .paragraph-imeges-our-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .list-icon-section-three {
    display: flex;
    justify-content: center;
    gap: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 8px;
  }
  .item-icon-list-section-three {
    width: 40px;
    height: 40px;
  }
  .link-icon-section-three {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-icon-section-three:hover {
    background-color: #404bbf;
  }
  .link-icon-section-three:focus {
    background-color: #404bbf;
  }
  .section-three-icon {
    fill: #f4f4fd;
  }
}

/* ============ / SECTION 3 ========= */

/* ============== SECTION 4 =========== */
.title-section-four {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
  padding-top: 96px;
}
.paragraph-overlay {
  display: none;
}
.description-our-portfolio {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin-bottom: 48px;
  width: 288px;
  height: 120px;
}
.title-imeges-our-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  padding-left: 16px;
  padding-bottom: 8px;
}
.paragraph-images-our-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 16px;
  padding-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .title-section-four {
    padding-top: 96px;
    margin-bottom: 72px;
  }

  .description-our-portfolio {
    width: 356px;
    height: 120px;
  }
  .list-section-four {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .title-section-four {
    margin-bottom: 72px;
  }

  .section-4-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d5ae5;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .paragraph-overlay {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
  }
  .paragraph-overlay:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .list-section-four {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .list-section-four:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .item-section-four {
    position: relative;
    width: calc((100% - 48px) / 3);
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .item-section-four:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .item-section-four:hover .paragraph-overlay {
    transform: translateY(0%);
  }
  .img-section-four-overlay {
    position: relative;
    overflow: hidden;
  }
}
/* ============== / SECTION 4 =========== */

/* ==========FOOTER========== */

.page-footer-one {
  background-color: #2e2f42;
}
.page-footer-div-section {
  padding: 96px 16px 72px 16px;
}
.link-page-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-footer-span {
  color: #f4f4fd;
}
.paragraph-page-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 288px;
  height: 72px;
}
.footer-page-icon {
  padding: 72px 40px 72px 40px;
}
.paragraph-footer-page-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.page-icon-footer {
  display: flex;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-page-icon-footer {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-item-page-icon-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-item-page-icon-footer:hover {
  background-color: #31d0aa;
}
.link-item-page-icon-footer:focus {
  background-color: #31d0aa;
}
.icons-footer {
  fill: #f4f4fd;
}
.page-footer-section-two-slogan {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer-section-two-input {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}
.page-footer-section-two-input::placeholder {
  color: #ffffff;
}
.page-footer-section-two-button {
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.div-section-button {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-div-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 24px;
  }
  .link-page-footer {
    justify-content: flex-start;
  }
  .paragraph-footer-page-icon {
    justify-content: flex-start;
  }
  .page-footer-section-two-slogan {
    display: flex;
    justify-content: flex-start;
    padding-left: 69px;
  }
  .page-footer-section-two-form {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 24px;
    padding-left: 69px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-div-section {
    gap: 78px;
  }
  .page-footer-one {
    height: 312px;
  }
  .page-footer-div-section {
    padding: 0;
  }
  .footer-page-icon {
    padding: 0;
  }
  .page-container {
    display: flex;
    align-items: center;
    padding-top: 100px;
  }
}

/* ========== / FOOTER========== */

/* ========modal-backdrop======= */
/*================= mobile menu ========= */
.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;

  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  overflow: hidden;
  padding: 72px 24px 24px 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-bth {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  color: #404bbf;
  line-height: 0;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-bth:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-bth:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.menu-link-iteam-mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studio-section-span {
  color: #404bbf;
}

.mobile-menu-team {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-top: 24px;
  margin-bottom: auto;
}
.mobile-menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts-mobile-menu {
  margin-bottom: 32px;
}
.contacts-list-address-mobile-menu {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}

.mobile-menu-span {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.icon-mobile-contacts-menu {
  margin-top: auto;
}
.contacts-link-mobile-menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-list-address-mobile-menu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.item-icon-mobile-section-header {
  width: 40px;
  height: 40px;
}
.list-icon-mobile-section-header {
  display: flex;
  justify-content: left;
  gap: 40px;
}
.link-icon-section-mobile-header {
  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-mobile-header-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* ========form====== */
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  overflow: hidden;
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-bth {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  color: #404bbf;
  line-height: 0;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-bth:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-bth:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
  width: 360px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 16px;
}
.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-field-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.review-form-input {
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.review-form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.review-form-input-wrapper {
  position: relative;
}
.review-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-input-icon {
  fill: #4d5ae5;
  outline: none;
}
.review-margin-bottom {
  margin-bottom: 16px;
}
.review-form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #2e2f42;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-comment:focus {
  border-color: #4d5ae5;
  outline: none;
}
.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}
.review-form-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.review-form-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  > .review-form-custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.review-form-submit-btn {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-color: transparent;
}
